.App {
  text-align: center;
}
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #7c7c7c;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto !important;
  display: block;
}
.highlight-off-icon{
  color:red;
  visibility: hidden;
  margin-left: 10px;
}
.edit-user-icon{
  color:blue;
  visibility: hidden;
  margin-left: 10px;
}
.selected-indicator{
  margin: 10px;
}
.selected-indicator:hover > .highlight-off-icon  {
  visibility: initial;
  cursor: pointer;
}
.user-info-paper{
  width: 50%;
  margin: 20px auto;
}
.user-info-content{
  text-align: left;
  padding-top: 20px;
  position: relative;
}
.user-info-table{
  table-layout: fixed;
  padding-top: 20px;
  position: relative;
}
div:hover > .edit-user-icon  {
  visibility: initial;
  cursor: pointer;
}
.registry-by-date{
  border: solid #d2d2d2 1px;
  display: block !important;
  margin: 10px auto;
  width: 70%;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}